<%- include('../includes/header') %>
    </head>

    <body>
        <%- include('../includes/navigation') %>

            <div class="container jumbotron">
                <% if(errorMessage) { %>
                    <div class="alert alert-danger text-center" role="alert">
                        <%= errorMessage %>
                    </div>
                    <% } %>
                <form class="form-horizontal"
                    action="" method="post">
                    <div class="form-group <%= validationErrors.find(e => e.param === 'email') ? 'has-error' : ''%>">
                        <label for="email" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" value="<%= oldInput.email %>" class="form-control" placeholder="Enter email" name="email">
                        </div>
                    </div>
                    <div class="form-group <%= validationErrors.find(e => e.param === 'pwd') ? 'has-error' : ''%>">
                        <label for="pwd" class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" value="<%= oldInput.pwd %>" class="form-control" placeholder="Enter password" name="pwd">
                        </div>
                    </div>
                    <center>
                        <button type="submit" class="btn btn-default">Submit</button>
                    </center>
                </form>
            </div>

            <%- include('../includes/end') %>