<%- include('../includes/header') %>
    </head>

    <body>
        <%- include('../includes/navigation') %>

            <div class="container jumbotron">
                <form class="form-horizontal" enctype="multipart/form-data"
                    action="<% if (editing) { if (path === '/edit-profile') { %>/edit-profile<% } else { %>/admin/edit-user<% } } else { %>/admin/add-user<% } %>"
                    method="post">
                    <div class="form-group">
                        <label class="col-sm-2 control-label" for="fname">First Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter First Name" name="fname"
                                value="<% if(editing) { %><%= user.name.split(' ')[0] %><% } %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="lname" class="col-sm-2 control-label">Last Name:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" placeholder="Enter Last Name" name="lname"
                                value="<% if(editing) { %><%= user.name.split(' ')[1] %><% } %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" placeholder="Enter email" name="email"
                                value="<% if(editing) { %><%= user.email %><% } %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="pwd" class="col-sm-2 control-label">Password:</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" placeholder="Enter password" name="pwd"
                                value="<% if(editing) { %><%= user.password %><% } %>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="image" class="col-sm-2 control-label">Image:</label>
                        <div class="col-sm-10">
                            <input type="file" class="form-control" name="image">
                        </div>
                    </div>
                    <% if(path !=='/edit-profile' ) { %>
                        <div class="form-group">
                            <label for="userType" class="col-sm-2 control-label">User Type:</label>
                            <div class="col-sm-10">
                                <select name="userType" class="form-control">
                                    <option value="">Choose user type</option>
                                    <option value="student" <% if(editing) { %>
                                        <% if(user.user_type==='student' ) { %> selected <% } %>
                                                <% } %> >Student
                                    </option>
                                    <option value="instructor" <% if(editing) { %>
                                        <% if(user.user_type==='instructor' ) { %> selected <% } %>
                                                <% } %>>Instructor
                                    </option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="dept" class="col-sm-2 control-label">Department:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" placeholder="Enter Department" name="dept"
                                    value="<% if(editing) { %><%= user.department %><% } %>">
                            </div>
                        </div>
                        <% } %>
                            <input type="hidden" value="<% if (editing) { %><%= user._id %><% } %>" name="userId" />
                            <center>
                                <button type="submit" class="btn btn-default">Submit</button>
                            </center>
                </form>
            </div>

            <%- include('../includes/end') %>