<%- include('./includes/header') %>
    </head>

    <body>
        <%- include('./includes/navigation') %>

            <div class="container">
                <% if(courses.length> 0) { %>
                    <table class="table table-hover">
                        <tr>
                            <th>ID</th>
                            <th>Course Name</th>
                            <th>Instructor</th>
                            <th></th>
                        </tr>
                        <% courses.forEach(course => { %>
                            <tr>
                                <td>
                                    <%= course._id %>
                                </td>
                                <td>
                                    <%= course.name %>
                                </td>
                                <% if (path !== "/instructor-courses") { %>
                                <td>
                                    <%= users.find(async user => await user._id === course.instructorId).name %>
                                </td>
                                <% } %>
                                <td>
                                    <% if(isAuthenticated && userType === 'student' && path === '/courses') { %>
                                    <form action="/register-course" method="post">
                                            <input type="hidden" value="<%= course._id%>" name="courseId">
                                            <button class="btn btn-success">Register</button>
                                        </form>
                                        <% } %>
                                        <% if(isAuthenticated && userType === 'student' && path === '/student-courses') { %>
                                            <form action="/delete-course" method="post">
                                                    <input type="hidden" value="<%= course._id%>" name="courseId">
                                                    <button class="btn btn-danger">Unregister</button>
                                                </form>
                                                <% } %>
                                    <form action="/admin/delete-course" method="post">
                                        <a href="/course-details/<%= course._id %>" class="btn btn-primary">Details</a>
                                        <% if(isAuthenticated && userType === 'admin') { %>
                                        <a href="/admin/edit-course/<%= course._id %>" class="btn btn-success">Edit</a>
                                        <input hidden value="<%= course._id %>" name="courseId" />
                                        <button class="btn btn-danger">Delete</button>
                                        <% } %>
                                    </form>
                                </td>
                            </tr>
                            <% }) %>
                    </table>
                    <% } else { %>
                        <p class="text-center">No courses found. Click
                            <a href="/admin/add-course">here</a> to add courses.
                        </p>
                        <% } %>
            </div>

            <%- include('./includes/end') %>