<%- include('./includes/header.ejs') %>

    </header>

    <body>
        <%- include('./includes/navigation.ejs') %>

            <div class="container text-center jumbotron">
                <img width="250px" src="../<%= user.imageUrl %>" alt="" class="img-thumbnail">
                    <h2><%= user.name %></h2>
                    <h3><%= user.email %></h3>
                    <h3><%= user.user_type %></h3>
                    <h3><%= user.department %></h3>
                    <% if (path === '/profile') {%>
                    <a href="/edit-profile" class="btn btn-primary">Edit Profile</a>
                    <% } %>
            </div>

            <%- include('./includes/end.ejs') %>